{% extends "adminbase.html" %}

{% block adminpage %}
    <div class="row">
        <div class="col">
            <h1 class="display-4">Registration Form</h1>

            <!-- Search Bar -->
            <div class="mb-3">
                <input type="text" class="form-control mr-2" id="searchInput" placeholder="Search...">
                <button type="button" class="btn btn-primary" onclick="search()">Search</button>
            </div>

            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Degree</th>
                        <th>Phone</th>
                        <th>Branch</th>
                        <th>Topic</th>
                        <th>Query</th>
                        <th>Total Amount</th>
                        <th>Advance</th>
                        <th>Balance</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    {% for i in data %}
                        <tr>
                            <td>
                                <a href="/dashboard/edit_query/{{i.id}}">{{ i.name }}</a>
                            </td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.degree }}</td>
                            <td>{{ i.phone }}</td>
                            <td>{{ i.branch }}</td>
                            <td>{{ i.topic }}</td>
                            <td>{{ i.query }}</td>
                            <td>{{ i.total_amount }}</td>
                            <td>{{ i.advance }}</td>
                            <td>{{ i.balance }}</td>
                            <td>
                                <a href="/dashboard/dele/{{ i.id }}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function search() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("tableBody");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; // Adjust index based on the column you want to search
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock adminpage %}
